:root{
  --white:#f6ffee;
  --black:#201100;
  --blue:#0070ff;
  --yellow: #ff9b27;
}


.game{
  text-align: center;
  position: relative;
}

.grid .row .cell.interactable:hover {
  padding: 0px;
  border: solid 2px var(--yellow);
  filter: saturate(0.9);
  position: relative;
  z-index: 8;

}


.grid .row .cell {
  padding: 2px;
}

.gameDone{
  position: absolute;
  bottom: 0;
  right: 0;
}



.boat{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
  padding: 0 10px;
  color: white;

  background-color: #663300;
  border-radius: 0px 10px 10px 0px;
  margin-top: 40px;
  margin-bottom: 10px;
  user-select: none;
}

.cellContent{
  position: relative;
  z-index: 8;
}

.cellContent img{
  width: 100%;
}

.ship{
  background-image: url("./ships/sea.jpeg");
  background-position: center;
  background-size: contain;
}

.sea{
    background-image: url("./ships/sea.jpeg");
    background-position: center;
    background-size: contain;
}

.grid{
  border: solid var(--black);
}

.number.left .cellContent div{
  margin-left: 25%;
  margin-top: 10%;
}

.number.right .cellContent div{
  margin-right: 25%;
  margin-top: 10%;
}
