body{
  font-family: sans-serif;
}

.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
}
.wrapper::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}
.wrapper .grid {
  display: inline-block;
  vertical-align: middle;

}
.grid .row {
  font-size: 0;
  width: 100px;
  white-space: nowrap;
}
.grid .row .cell {
  padding: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  display: inline-block;
  font-size: 20px;
}
.grid .row .cell.interactable:hover {
  padding: 0px;
  border: solid 2px aqua;
}

.grid .row .cell .cellContent{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid .row .cell .cellContent p{
margin: 0
}

.game{
  text-align: center;
}

.boat{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
  padding: 0 10px;
  color: white;

  background-color: #ff9900;
  border-radius: 0px 10px 10px 0px;

}
