:root{
  --white:#f6ffee;
  --black:#201100;
  --blue:#0070ff;
  --yellow: #ff9b27;
}

*{
  margin: 0;
  padding: 0;
}
html{
  background-color: var(--white);
  color: var(--black);
}
body{
    width: 100%;
  background-color: var(--white);
  font-family: atkinson;

}

h1{
  font-family: SpaceGrotesk;
  font-size: min(10vw, 90px);
  color: var(--white);
  -webkit-text-stroke: 1.5px var(--yellow);
  user-select: none;
}

h2{
  font-family: SpaceGrotesk;
  font-size: 80px;
  color: var(--black);

  text-decoration: underline;
  text-decoration-color: var(--blue);
}

h2::selection {
  color: var(--blue);

  background: none;
}

ul{
  font-size: 50px;
  color: var(--black);
}

p{
  line-height: 1.5em;
  margin-top: 25px;
  text-indent: 20px;
}

.blue{
  color: var(--blue);
}

a::selection {
  background: none;
}


p::selection {
  color: var(--blue);
  background: none;
}

i::selection{
  color: var(--blue);
  background: none;
}

i{
  color: grey;
}

.bigger{
  font-size: 1.8em;
  line-height: 0.8em;
  text-transform: uppercase;
  color: var(--yellow);
  -webkit-text-stroke: 0;

}
